<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
	<appSettings>
		<add key="numero_archivos_a_eliminar" value="100000"/>
		<add key="muestra_resumen" value="false"/>
	</appSettings>
</configuration>
