

<div id="modal_eventos_radian" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="EncabezadoModal" class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h5 style="margin-bottom: 10px;" class="modal-title">Eventos Radian</h5>
			</div>
			<div class="modal-body">
				<div class="col-md-12 ">

					<!-- JS Modal Auditoría Documento-->
					<!-- CONTENEDOR PRINCIPAL -->
					<div data-ng-controller="EventosRadianController">


						<div class="col-md-12">
							<div class="panel panel-white">
								<div class="panel-body">

									<div class="row">

										<div class="col-sm-4" style="background-color: #F3F3F3;">
											<Label Style="vertical-align: inherit;"><b>IdSeguridad:</b></Label>
										</div>
										<div class="col-sm-8">
											<Label Style="vertical-align: inherit;" id="IdSeguridad"></Label>
										</div>

										<div class="col-sm-4" style="background-color: #F3F3F3;">
											<Label Style="vertical-align: inherit;"><b>Número Documento:</b></Label>
										</div>
										<div class="col-sm-8">
											<Label Style="vertical-align: inherit;" id="NumeroDocumento"></Label>
										</div>

										<div class="col-sm-4" style="background-color: #F3F3F3;">
											<Label Style="vertical-align: inherit;"><b>Identificación Obligado:</b></Label>
										</div>
										<div class="col-sm-8">
											<Label Style="vertical-align: inherit;" id="Obligado"></Label>
										</div>
										<div class="col-sm-12 text-left" style="margin-top: 15px;">
											<div id="cmdenviar"></div>
											<div id="cmdenviar1"></div>
											<div id="cmdenviar2"></div>
											<div id="cmdenviar3"></div>
											<div id="cmdenviar4"></div>
											<div id="cmdenviar5"></div>
										</div>

									</div>
                                    <br />
                                    <!-- FILTROS DE PARA HACER ENDOSO -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="panelEndoso" class="panel panel-white" style="display: none;">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">Filtros para hacer Endoso<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="dx-fieldset">
                                                                <div class="col-md-3" style="margin-top: 1%">
                                                                    <i class="icon-file-text"></i>
                                                                    <label>Tipo de Endoso:</label>
                                                                    <div id="tiposEndoso"></div>
                                                                </div>
                                                                <div class="col-md-3" style="margin-top: 1%">
                                                                    <i class="icon-file-text"></i>
                                                                    <label>Operación Evento:</label>
                                                                    <div id="tiposOperacionEvento"></div>
                                                                </div>
                                                                <div class="col-md-3" style="margin-top: 1%">
                                                                    <i class="icon-files-empty"></i>
                                                                    <label>Tasa Descuento:</label>
                                                                    <div id="tasaDescuentoEndoso"></div>
                                                                </div>
                                                                <div class="col-md-3" style="margin-top: 1%">
                                                                    <i class="icon-files-empty"></i>
                                                                    <label>ID Endosatario:</label>
                                                                    <div id="idEndosatario"></div>
                                                                </div>
                                                                <div class="col-lg-12 text-center">
                                                                    <br>
																	<div id="summaryEndoso"></div>
                                                                    <p id="razonSocialEmpresa"></p>
                                                                </div>
                                                                <div class="col-lg-12 text-center">
                                                                    <br>
																	
                                                                    <div data-dx-button="btnRealizarEndoso" ></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <p data-ng-bind-html="message" class="ng-binding"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /FILTROS DE PARA HACER ENDOSO -->
									<br />

									<div class="demo-container">
										<div id="GridEventosRadianDocumento"></div>
									</div>

								</div>

							</div>
						</div>
					</div>


				</div>
			</div>

			<div id="divsombra" class="modal-footer" style="margin-top: 22%">
			</div>

		</div>
	</div>
</div>
