<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
</head>
<body>
	<form id="form1">
		<div id="modal_PagoEmbebido" class="modal fade" style="display: none; z-index: 999999; ">
			<div class="modal-dialog" style="width:90%;">
				<div class="modal-content" id="pantalla_Embebida">
					<div id="EncabezadoModal" class="modal-header">
						<button type="button" class="close" data-dismiss="modal" style="top: 20% !important; font-weight: bold;">×</button>
						<h5 style="margin-bottom: 10px; text-align: center; font-weight: bold;" class="modal-title">Pago</h5>
						<hr />
					</div>
					<div>

						<embed style="width:100%" id="Pago_Embed" />

					</div>

				</div>
			</div>
		</div>

	</form>
</body>
</html>
