<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules />
  </system.web>
  <appSettings>
	  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	  <add key="AplicacionPlataformaServicios" value="5824e879-008c-4688-b7aa-28702ca37a4f" />
	  <add key="identificacion_facturador" value="8888" />
	  <add key="serial" value="52248476-b935-474c-abae-e10489f4a008" />
	  <add key="RutaPlataformaServicios" value="http://cloudservices#.hginet.co/" />
	  <add key="ServidorMail" value="in-v3.mailjet.com" />
	  <add key="UsuarioMail" value="ddaf4830197aa4f943b7a345f47bcfae" />
	  <add key="ClaveMail" value="0c3d77e3f963fb1b1270026df3970509" />
	  <add key="PuertoMail" value="587" />
	  <add key="HabilitaSsl" value="false" />
	  <add key="RemitenteNombre" value="HGI SAS" />
	  <add key="RemitenteMail" value="tic@hgi.com.co" />
	  <add key="DestintarioNombre" value="HGI SAS" />
	  <add key="DestintariosMail" value="tic@hgi.com.co;mparamo@hgi.com.co;ealvarez@hgi.com.co;jzea@hgi.com.co;atamayo@hgi.com.co;jflores@hgi.com.co" />
	  <!--<add key="EmpresaEcommerce" value="1152708377" />
	  <add key="RutaPublicaWeb" value="http://localhost:55623/" />-->

  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>