<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ZPagosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ZPagosSoap1" />
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.zonapagos.com/ws_inicio_pagov2/Zpagos.asmx"
                binding="basicHttpBinding" bindingConfiguration="ZPagosSoap"
                contract="ZonaVirtualServicioPagos.ZPagosSoap" name="ZPagosSoap" />
            <endpoint address="https://www.zonapagos.com/ws_verificar_pagos/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ZonaVirtualServicioVerfica.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
