<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="soapBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
     receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
    </binding>
    <binding name="soap" />
    <binding name="soap1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/acuserecibo.svc"
    binding="basicHttpBinding" bindingConfiguration="soapBinding"
    contract="ServicioAcuseRecibo.ServicioAcuseRecibo" name="BasicHttpBinding_ServicioAcuseRecibo" />
   <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/documentos.svc"
    binding="basicHttpBinding" bindingConfiguration="soapBinding"
    contract="ServicioDocumento.ServicioDocumentos" name="BasicHttpBinding_ServicioDocumentos" />
   <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/factura.svc"
    binding="basicHttpBinding" bindingConfiguration="soapBinding"
    contract="ServicioFactura.ServicioFactura" name="BasicHttpBinding_ServicioFactura" />
   <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/notacredito.svc"
    binding="basicHttpBinding" bindingConfiguration="soap" contract="ServicioNotaCredito.ServicioNotaCredito"
    name="soap" />
   <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/notadebito.svc"
    binding="basicHttpBinding" bindingConfiguration="soapBinding"
    contract="ServicioNotaDebito.ServicioNotaDebito" name="BasicHttpBinding_ServicioNotaDebito" />
   <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/resolucion.svc"
    binding="basicHttpBinding" bindingConfiguration="soapBinding"
    contract="ServicioResolucion.ServicioResolucion" name="BasicHttpBinding_ServicioResolucion" />
  </client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
