<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
		<bindings>
      <basicHttpBinding>
          <binding name="soapBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
              maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
              transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text">
              <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
                  maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binding>
      </basicHttpBinding>
  </bindings>
        <client>
            <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/documentos.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding"
                contract="ServicioDocumento.ServicioDocumentos" name="soap_ServicioDocumento" />
            <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/factura.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding"
                contract="ServicioFactura.ServicioFactura" name="soap_ServicioFactura" />
            <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/acuserecibo.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding"
                contract="ServicioAcuseRecibo.ServicioAcuseRecibo" name="BasicHttpBinding_ServicioAcuseRecibo" />
            <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/notacredito.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="ServicioNotaCredito.ServicioNotaCredito"
                name="soap_ServicioNotaCredito" />
            <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/resolucion.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="ServicioResolucion.ServicioResolucion"
                name="soap_ServicioResolucion" />
            <endpoint address="http://habilitacion.mifacturaenlinea.com.co/wcf/notadebito.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="ServicioNotaDebito.ServicioNotaDebito"
                name="soap_ServicioNotaDebito" />
            <endpoint address="https://habilitacion.mifacturaenlinea.com.co/wcf/reenviodocumento.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="ServicioReenvioDocumento.ServicioReenvioDocumento"
                name="soap_ServicioReenvioDocumento" />
            <endpoint address="https://habilitacion.mifacturaenlinea.com.co/wcf/empresas.svc"
                binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="ServicioEmpresas.ServicioEmpresas"
                name="soap_ServicioEmpresas" />
        </client>
    </system.serviceModel>-->
</configuration>