<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="resolucionFacturacionPortNameSoap11" />
                <binding name="facturaElectronicaPortNameSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://facturaelectronica.dian.gov.co:80/servicios/B2BIntegrationEngine-servicios/FacturaElectronica"
                binding="basicHttpBinding" bindingConfiguration="resolucionFacturacionPortNameSoap11"
                contract="DianResolucion.resolucionFacturacionPortName" name="resolucionFacturacionPortNameSoap11" />
            <endpoint address="http://facturaelectronica.dian.gov.co:80/habilitacion/B2BIntegrationEngine/FacturaElectronica"
                binding="basicHttpBinding" bindingConfiguration="facturaElectronicaPortNameSoap11"
                contract="DianFactura.facturaElectronicaPortName" name="facturaElectronicaPortNameSoap11" />
        </client>
    </system.serviceModel>
</configuration>