<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="soapBindingDian" messageEncoding="Mtom" textEncoding="utf-8">
					<security mode="Transport"/>
				</binding>
            </basicHttpBinding>			
        </bindings>
        <client>
            <endpoint address="http://facturaelectronica.dian.gov.co:80/servicios/B2BIntegrationEngine-servicios/FacturaElectronica"
                binding="basicHttpBinding" bindingConfiguration="soapBindingDian"
                contract="DianResolucion.resolucionFacturacionPortName" name="resolucionFacturacionPortNameSoap11" />
            <endpoint address="http://facturaelectronica.dian.gov.co:80/habilitacion/B2BIntegrationEngine/FacturaElectronica"
                binding="basicHttpBinding" bindingConfiguration="soapBindingDian"
                contract="DianFactura.facturaElectronicaPortName" name="facturaElectronicaPortNameSoap11" />
        </client>
    </system.serviceModel>
</configuration>