<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="soapBindingDian" textEncoding="utf-8" messageEncoding="Mtom">
     <security mode="Transport" />
    </binding>
    <binding name="facturaElectronicaPortNameSoap11" />
    <binding name="consultaDocumentoPortNameSoap11" />
   </basicHttpBinding>
   <customBinding>
    <binding name="soapBinding" closeTimeout="00:10:00" openTimeout="00:10:00" 
	receiveTimeout="00:10:00" sendTimeout="00:10:00">
     <textMessageEncoding messageVersion="Soap12">
      <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
	   maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     </textMessageEncoding>
    </binding>
   </customBinding>
   <wsHttpBinding>
    <binding name="WSHttpBinding_IWcfDianCustomerServices">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256Rsa15" 
	  establishSecurityContext="false" />
     </security>
    </binding>
    <!--<binding name="WSHttpBinding_IWcfDianCustomerServices1">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256Rsa15"
       establishSecurityContext="false" />
     </security>
    </binding>-->
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://facturaelectronica.dian.gov.co:80/operacion/B2BIntegrationEngine/FacturaElectronica" 
	binding="customBinding" bindingConfiguration="soapBinding" contract="DianResultadoTransacciones.consultaDocumentoPortName" 
	name="consultaDocumentoPortNameSoap12" />
   <endpoint address="https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfDianCustomerServices" 
	contract="DianWSValidacionPrevia.IWcfDianCustomerServices" name="WSHttpBinding_IWcfDianCustomerServices" />
   <endpoint address="http://facturaelectronica.dian.gov.co:80/habilitacion/B2BIntegrationEngine/FacturaElectronica" 
	binding="basicHttpBinding" bindingConfiguration="soapBindingDian" 
	contract="DianFactura.facturaElectronicaPortName" name="facturaElectronicaPortNameSoap11" />
   <endpoint address="http://facturaelectronica.dian.gov.co:80/servicios/B2BIntegrationEngine-servicios/FacturaElectronica" 
	binding="basicHttpBinding" bindingConfiguration="soapBindingDian" 
	contract="DianResolucion.resolucionFacturacionPortName" name="resolucionFacturacionPortNameSoap11" />
   <endpoint address="http://facturaelectronica.dian.gov.co:80/operacion/B2BIntegrationEngine/FacturaElectronica" 
	binding="basicHttpBinding" bindingConfiguration="consultaDocumentoPortNameSoap11" 
	contract="DianResultadoTransacciones.consultaDocumentoPortName" 
	name="consultaDocumentoPortNameSoap11" />
   <!--<endpoint address="https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfDianCustomerServices1"
    contract="DianWSValidacionPrevia.IWcfDianCustomerServices" name="WSHttpBinding_IWcfDianCustomerServices1" />-->
  </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
